
<footer id="main-footer" class="py-4 bg-primary text-white text-center">
    <div class="section has-centered-text">
        <div class="row">
            <div class="col-sm-4">
                <a href="{% url 'contact' %}"><font color="white">Contact Us</font></a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'faq' %}"><font color="white">FAQ</font></a>
            </div>
            <div class="col-sm-4">
                <a href="{% url 'newsletter_signup' %}"><font color="white">Subscribe to Newsletter</font></a>
            </div>
        </div>        
        
        <br>
        <br>



        <div class="section has-text-centered">
            <a href="http://www.gambleaware.co.uk" class="gambleaware-link"><font color="white">www.gambleaware.co.uk</font></a> |
            <a href="/privacy-policy-terms/"><font color="white">Terms &amp; Conditions</font></a>
        </div>
        <br>
        Copyright &copy;
        <span class="year"></span> BCBetting
    </div>
</footer>
    