{% extends "base.html" %}

{% block content %}
<section>
    <div class="container" style="text-align: center">
        <h1>Frequently asked questions</h1>
        <h4>Here you can find answers to questions we get asked a lot. If your question is not in our FAQ then don't hesitate to <a href="{% url 'contact' %}">Contact</a> us.</h4>
    </div>
</section>

<section>
    <div class="container">
        <h5><b>Q1) Are you better than BetDyanmo?</b></h5>
        <h6>Yes.</h6>
        <h5><b>Q2) In what ways are you better than BetDyanmo?</b></h5>
        <h6>In every way.</h6>

    </div>
</section>

{% endblock %}